# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/
*.orig

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (not used, but just in case)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
